@model IEnumerable<WebApplication1.Models.Person>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<section id="about-page">
    
    <div class="container">

        <div class="row">
            
            <div class="col-md-12 text-center">
                <h2><a asp-action="Register">Добавить</a></h2>
            </div>
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-wrapper cf" }))
            {

                <p>
                    <input type="search" name="res" placeholder="Введите ID или Фамилию" required />
                    <button type="submit">Искать</button>
                </p>

            }



            @foreach (WebApplication1.Models.Person r in Model)
            {
                <div class="col-md-4 text-center member">
                    <div class="member-img">
                        <img src="https://st2.depositphotos.com/1531183/5770/v/450/depositphotos_57709697-stock-illustration-мужской-силуэт-человека-фотография-профиля.jpg" alt="" />
                    </div>
                    <h4>@r.FirstName @r.LastName @r.MiddleName</h4>
                    <span>ID: @r.Id</span>
                </div>
            }



        </div>
    </div>
</section>





